# Data Science Tools and Ecosystems

In this Notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
+ List popular languages used by Data Scientists.
+ List the commonly used libraries by Data Scientists.
+ Evaluate arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. C/C++

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

|Data Science tools|
|------------------|
|RStudio|
|Apache Spark|
|Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 mins to hours by dividing by 60
200/60

3.3333333333333335

## Author
Romy Thomas